In [1]:
import pandas as pd
df1 = pd.read_excel('omadata2.xlsx')
df1.head()

,RespondentID,Aa1,Ab1.1,Aikar,Ac1,Aalue,Aq1,Aq2,Aq3,Aq4,...,Aq6,Aq7,Aq8,Aq9,Aq10,Aq15,Aq16,Aq17,Aq18,Aq19
0,1,2,40,3,61,2,2,2,3.0,NaN,...,2.0,2.0,2.0,5.0,2.0,5.0,2.0,3.0,5.0,2.0
1,2,1,52,4,36,1,1,3,2.0,NaN,...,2.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0
2,3,2,49,3,80,2,1,2,2.0,NaN,...,3.0,2.0,2.0,2.0,3.0,5.0,3.0,3.0,2.0,1.0
3,4,2,65,5,6,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,62,4,6,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df1.rename(columns = {'RespondentID': 'Vastaaja ID', 'Aa1': 'Sukupuoli', 'Ab1.1': 'Ikä', 'Aikar': 'Ikäluokka', 'Ac1': 'Postinumero', 'Aalue': 'Alue', 'Aq1': 'Pyöräilyn edistäminen', 'Aq2': 'Liikutteko pyörällä?', 'Aq3': 'Kuinka usein lumettomana aikana?', 'Aq4': 'Talvella?', 'Aq5': 'Miten tyytyväinen olet Helsinkiin pyöräilijänä?', 'Aq6': 'Miten sujuvaa pyöräily on?', 'Aq7': 'Miten turvallista?', 'Aq8': 'Tyytyväisyys väyliin?', 'Aq9': 'Tyytyväisyys pysäköintiin?', 'Aq10': 'Tyytyväisyys reitteihin?', 'Aq15': 'Tyytväisyys talviväyliin?', 'Aq16': 'Tyytyväisyys huoltoihin teissä?', 'Aq17': 'Tyytyväisyys poikkeuksiin?', 'Aq18': 'Tyytyväisyys tiedotukseen?', 'Aq19': 'Pyöräilyn tarkoitus?'}, inplace=True)
df1.head()

,Vastaaja ID,Sukupuoli,Ikä,Ikäluokka,Postinumero,Alue,Pyöräilyn edistäminen,Liikutteko pyörällä?,Kuinka usein lumettomana aikana?,Talvella?,...,Miten sujuvaa pyöräily on?,Miten turvallista?,Tyytyväisyys väyliin?,Tyytyväisyys pysäköintiin?,Tyytyväisyys reitteihin?,Tyytväisyys talviväyliin?,Tyytyväisyys huoltoihin teissä?,Tyytyväisyys poikkeuksiin?,Tyytyväisyys tiedotukseen?,Pyöräilyn tarkoitus?
0,1,2,40,3,61,2,2,2,3.0,NaN,...,2.0,2.0,2.0,5.0,2.0,5.0,2.0,3.0,5.0,2.0
1,2,1,52,4,36,1,1,3,2.0,NaN,...,2.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0
2,3,2,49,3,80,2,1,2,2.0,NaN,...,3.0,2.0,2.0,2.0,3.0,5.0,3.0,3.0,2.0,1.0
3,4,2,65,5,6,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,62,4,6,1,1,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1.count()

Vastaaja ID                                        2010
Sukupuoli                                          2010
Ikä                                                2010
Ikäluokka                                          2010
Postinumero                                        2010
Alue                                               2010
Pyöräilyn edistäminen                              2010
Liikutteko pyörällä?                               2010
Kuinka usein lumettomana aikana?                   1430
Talvella?                                           229
Miten tyytyväinen olet Helsinkiin pyöräilijänä?    1182
Miten sujuvaa pyöräily on?                         1182
Miten turvallista?                                 1182
Tyytyväisyys väyliin?                              1182
Tyytyväisyys pysäköintiin?                         1182
Tyytyväisyys reitteihin?                           1182
Tyytväisyys talviväyliin?                          1182
Tyytyväisyys huoltoihin teissä?                    1182
Tyytyväisyys poikkeuksiin?                         1182
Tyytyväisyys tiedotukseen?                         1182
Pyöräilyn tarkoitus?                               1182
dtype: int64

In [4]:
df1.isnull().sum()

Vastaaja ID                                           0
Sukupuoli                                             0
Ikä                                                   0
Ikäluokka                                             0
Postinumero                                           0
Alue                                                  0
Pyöräilyn edistäminen                                 0
Liikutteko pyörällä?                                  0
Kuinka usein lumettomana aikana?                    580
Talvella?                                          1781
Miten tyytyväinen olet Helsinkiin pyöräilijänä?     828
Miten sujuvaa pyöräily on?                          828
Miten turvallista?                                  828
Tyytyväisyys väyliin?                               828
Tyytyväisyys pysäköintiin?                          828
Tyytyväisyys reitteihin?                            828
Tyytväisyys talviväyliin?                           828
Tyytyväisyys huoltoihin teissä?                     828
Tyytyväisyys poikkeuksiin?                          828
Tyytyväisyys tiedotukseen?                          828
Pyöräilyn tarkoitus?                                828
dtype: int64

In [17]:
df1['Tyytyväisyys'] = df1[['Miten tyytyväinen olet Helsinkiin pyöräilijänä?', 'Miten sujuvaa pyöräily on?', 'Miten turvallista?']].mean(axis=1)
df1['Sukupuoli N/M'] = df1['Sukupuoli'].replace({1 : 'Mies', 2 : 'Nainen'})
df1[['Sukupuoli N/M', 'Ikä', 'Tyytyväisyys']].head(15)

   Sukupuoli N/M  Ikä  Tyytyväisyys
0         Nainen   40      2.000000
1           Mies   52      2.000000
2         Nainen   49      2.333333
3         Nainen   65           NaN
4         Nainen   62           NaN
5         Nainen   60           NaN
6           Mies   39      3.333333
7           Mies   71           NaN
8         Nainen   68           NaN
9           Mies   40      1.666667
10          Mies   54           NaN
11          Mies   65      1.666667
12        Nainen   73           NaN
13        Nainen   36           NaN
14        Nainen   59           NaN